<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Početna</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Zaposleni</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Obaveštenja</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Osnovne studije</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Odsek za Računarsku tehniku i informatiku</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Odsek za Softversko inženjerstvo</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Ostali odseci</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Master studije</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Projekti</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nauka</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Istraživanja</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Projekti</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Kontakt</a>
  </li>
  <li class="nav-item" *ngIf="user">
    <a class="nav-link" href="#" style="font-weight: bold;">Moji predmeti</a>
  </li>
</ul>
