<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" *ngFor="let si of subjectInfo">
      <h5 [ngClass]="{ 'text-danger' : paint(si.datum) }">{{si.naslov}}</h5>
      <h6>{{getDate(si.datum)}}</h6>
      <p [innerHTML]="si.tekst"></p>
      <div *ngFor="let f of si.fajlovi">
        <a href="http://localhost:4000/uploads/subjects/{{subject}}/notifications/{{f}}">{{f}}</a>
      </div>

      <hr *ngIf="si != subjectInfo[subjectInfo.length - 1]"/>
    </div>
  </div>
</div>
