<div class="container-fluid">

  <div class="row mt-5 text-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="font-family: Arial">
      <h3 style="font-weight: bold">Diplomski i master radovi</h3>
      <hr>
      <a href="https://rti.etf.bg.ac.rs/dokumenti/RTI_Mentori_osnovne_studije_2018.pdf" target="_blank">
        <h5>Diplomski radovi - spisak mogućih mentora</h5>
      </a>
      <br/>
      <a href="https://rti.etf.bg.ac.rs/dokumenti/Zavrsni_rad_na_osnovnim_akademskim_studijama.pdf" target="_blank">
        <h5>Informacije o završnom diplomskom radu - izvod iz Pravilnika o OAS</h5>
      </a>
      <br/>
      <a href="https://rti.etf.bg.ac.rs/dokumenti/diplomski/Izbor%20mentora%20i%20teme%20diplomskog%20ili%20master%20rada.pdf" target="_blank">
        <h5>Obaveštenje o roku za izbor teme diplomskih i master radova</h5>
      </a>
      <br/>
      <a href="https://www.etf.bg.ac.rs/uploads/files/Akta_fakulteta/Pravilnik%20o%20osnovnim%20akademskim%20studijama.pdf" target="_blank">
        <h5>Pravilnik o osnovnim akademskim studijama (OAS) - ceo dokument (sa sajta ETF)</h5>
      </a>
      <br/>
      <a href="https://rti.etf.bg.ac.rs/diplomski/index.php" target="_blank">
        <h5 style="font-weight: bold">Spisak predloga tema za završni rad (ver. 22.05.2020.)</h5>
      </a>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
