<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-4 d-flex flex-column justify-content-center mx-auto mt-5">

      <div class="card rounded shadow shadow-lg">
        <h5 class="card-header">Promena lozinke</h5>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
            <div class="form-group">
              <label for="oldpwd">Stara lozinka</label>
              <input type="password" id="oldpwd" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
              <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">Stara lozinka je obavezno polje</div>
              </div>
            </div>
            <div class="form-group">
              <label for="newpwd">Nova lozinka</label>
              <input type="password" id="newpwd" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">Nova lozinka je obavezno polje</div>
              </div>
            </div>
            <div class="form-group">
              <label for="newpwdc">Potvrda lozinke</label>
              <input type="password" id="newpwdc" formControlName="newPasswordConfirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirm.errors }" />
              <div *ngIf="submitted && f.newPasswordConfirm.errors" class="invalid-feedback">
                <div *ngIf="f.newPasswordConfirm.errors.required">Potvrda lozinke je obavezno polje</div>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary">Promeni lozinku</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>


