<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center" style="font-family: Arial">
      <select class="custom-select">
        <option selected value="" disabled>Izaberi predmet</option>
        <option value="1">Broj indeksa</option>
        <option value="2">Prezime</option>
      </select>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <hr/>

  <div class="row mt-5 text-center">
    <app-subject></app-subject>
  </div>


</div>
