<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center flex-wrap">
    <div class="col-sm-11 text-center" *ngIf="modul != 'm'">
      <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="getBySemester($event)" animationDuration="0ms" [selectedIndex]="selected.value">
        <mat-tab *ngFor="let s of semestri" label="{{s}}">

          <div>
            <ul class="list-group" *ngFor="let sub of filteredSubjects" style="font-size: large">
              <li class="list-group-item">{{sub.sifra}} - {{sub.naziv}}</li>
            </ul>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-sm-11 text-center" *ngIf="modul == 'm'">
      <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="getBySemester($event)" animationDuration="0ms" [selectedIndex]="selected.value">
        <mat-tab *ngFor="let s of masterSemestri" label="{{s}}">
          <div>
            <ul class="list-group" *ngFor="let sub of filteredSubjects" style="font-size: large">
              <li class="list-group-item">{{sub.sifra}} - {{sub.naziv}}</li>
            </ul>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
