<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Početna</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/studentManagement']" routerLinkActive="active">Studenti</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/workerManagement']" routerLinkActive="active">Zaposleni</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/subjects']" routerLinkActive="active">Predmeti</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/notifications']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Obaveštenja</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['admin/schedule']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Plan angažovanja</a>
    <span></span>
  </li>
</ul>
