<ol class="breadcrumb bg-white">
  <li class="breadcrumb-item"><a routerLink="/">Početna</a></li>
  <li class="breadcrumb-item active">Kontakt</li>
</ol>

<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center" style="font-family: Arial">
      <h2>Elektrotehnički fakultet - Katedra za Računarsku tehniku i informatiku</h2>
      <h3>Univerzitet u Beogradu</h3>
      <h5>Bulevar Kralja Aleksandra 73, 11120 Beograd, Srbija</h5>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <hr/>

  <div class="row mt-5 text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="font-family: Arial">
      <h4 style="font-weight: bold">Kontakt:</h4>
      <hr>
      <h5>dr Nenad Korolija</h5>
      <h5>tel: +381 11 3218389</h5>
      <h5>E-mail: nenadko@etf.rs</h5>
    </div>
    <div class="col-sm-4"></div>
  </div>


</div>
