<div class="container-fluid">

  <div class="row mt-5 text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="font-family: Arial">
      <h3 style="font-weight: bold">Istraživačke grupe</h3>
      <hr>
      <a href="http://rti.etf.bg.ac.rs/rti/ebi/" target="_blank"><h4>Electronic Bussines on Internet Group</h4></a>
      <br/>
      <a href="https://rti.etf.bg.ac.rs/rti/acm/" target="_blank"><h4>ACM Programming Context Group</h4></a>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
