<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-8 d-flex flex-column justify-content-center mx-auto mt-5 pt-5">
      <div class="card rounded shadow shadow-lg">
        <div class="card-body text-center d-flex flex-column justify-content-center mx-auto pt-5 pb-5">
          <h5>Dobrodošli na stranicu za administraciju RTI katedre</h5>
          <a style="font-size: larger" [routerLink]="['../../account/changePass']">Za promenu lozinke, idite ovde</a>
        </div>
      </div>
    </div>
  </div>

</div>
