<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-sm-3">
      <button class="btn btn-outline-success mr-3" [routerLink]="['addStudent']">Dodaj studenta</button>
      <button class="btn btn-outline-info"
              data-toggle="modal"
              data-target="#studentModal"
      >
        Učitaj fajl sa studentima</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-3">
      <select class="custom-select" (change)="sort($event)" [(ngModel)]="sortCriteria">
        <option selected value="" disabled>Sortiraj po...</option>
        <option value="1">Broj indeksa</option>
        <option value="2">Prezime</option>
      </select>
    </div>
    <div class="col-sm-3">
      <select id="type" class="custom-select" (change)="getByStudies($event)" [(ngModel)]="type">
        <option selected value=null disabled>Izaberite tip studija za prikazivanje</option>
        <option value="Osnovne akademske studije">Osnovne akademske studije</option>
        <option value="Master akademske studije">Master akademske studije</option>
        <option value="Doktorske studije">Doktorske studije</option>
      </select>
    </div>
    <div class="col-sm-3 d-flex flex-column justify-content-center">
      <div class="custom-checkbox ml-3">
        <input class="form-check-input" type="checkbox" (change)="showActiveOnly()" [checked]="active">
        Prikaži samo aktivne studente
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info float-right" (click)="reset()">Resetuj filtere</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>Prezime</th>
            <th>Ime</th>
            <th>Broj indeksa</th>
            <th>Tip studija</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of students">
            <td class="align-middle">{{s.lastname}}</td>
            <td class="align-middle">{{s.firstname}}</td>
            <td class="align-middle">{{s.index}}</td>
            <td class="align-middle">{{s.type}}</td>
            <td class="align-middle">{{s.status}}</td>

            <td>
              <button class="btn btn-outline-danger float-right" (click)="delete(s.username)">Obriši</button>
              <button routerLink="editStudent/{{s.username}}" class="btn btn-outline-warning float-right mr-2">Izmeni</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj studente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row d-flex flex-row justify-content-center">
          <div class="col-sm-8">
            <div class="row">
              <label for="workerImage" class="custom-file-label">Učitajte XML i CSV fajl</label>
              <input type="file" id="workerImage" class="form-control custom-file" name="workerImage"
                     (change)="onFileChange($event)"
              />
            </div>
            <br/>
            <div class="row d-flex flex-row justify-content-center">
              <span class="input-group-btn">
                <button class="btn btn-success" data-dismiss="modal" (click)="registerStudents()">Dodaj studente</button>
              </span>
            </div>
            <div class="row d-flex flex-row justify-content-center">
              <span class="text-danger">
                {{error}}
              </span>
            </div>
          </div>
        </div>

        <hr/>
        <div>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>Korisničko ime</th>
                <th>Lozinka</th>
                <th>Ime</th>
                <th>Prezime</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of uploadedData">
                <td>{{s.korime}}</td>
                <td>{{s.lozinka}}</td>
                <td>{{s.ime}}</td>
                <td>{{s.prezime}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
