<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['teacher/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profil</a>
    <span></span>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['teacher/subjects']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Predmeti</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vesti</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Dodavanje vesti</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Izmena vesti</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Spiskovi</a>
  </li>
</ul>
