<div class="container-fluid">

  <div class="row d-flex flex-row justify-content-center">
    <div class="col-sm-7 mb-3">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Projekti za razvoj visokog obrazovanja</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> doc. dr. Dražen Drašković</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Ministarstvo prosvete, nauke i tehnološkog razvoja</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 14.10.2019.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Information Security Services Education in Serbia</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> ERAZMUS + K2</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr. Igor Tartalja</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Univerzitet u Beogradu</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 14.02.2018.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Realizacija sajta Udruženja anesteziologa i intenzivista Srbije</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Ostali domaći komercijalni projekti</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr Boško Nikolić</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Udruženje anesteziologa i intenzivista Srbije</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 28.12.2011.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">
            Razvoj digitalnih tehnologija i umreženih servisa u sistemima sa ugradjenim elektronskim komponentama
          </h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Nauka - interdisciplinarno istraživanje</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr Jovan Djordjević</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Ministarstvo za nauku i tehnološki razvoj</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 14.10.2019.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Razvoj hardverske, softverske i telekomunikacione infrastukture e-sistema za kontrolu prometa i poreza</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Nauka - tehnološki razvoj</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr Miroslav Bojović</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Ministarstvo za nauku i tehnološki razvoj</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 14.03.2011.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Prostorni, ekološki, energetski i društveni aspekti razvoja naselja i klimatske promene - medjusobni uticaji</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Nauka - tehnološki razvoj</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr Slavko Gajin</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Finansijer:</span> Ministarstvo za nauku i tehnološki razvoj</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 02.03.2011.</h6>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">SEE-GRID-SCI-SEE-GRID eInfrastructure for regional eScience (SEE-GRID-SCI) FP 7</h4>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Tip projekta:</span> Medjunarodni FP projekti</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Rukovodilac:</span> prof. dr Zaharije Radivojević</h6>
          <hr/>
          <h6 class="card-subtitle"><span style="font-weight: bold">Početak realizacije:</span> 14.12.2006.</h6>
        </div>
      </div>
    </div>
  </div>
</div>
