<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 d-flex flex-column justify-content-center mx-auto mt-5">

      <div class="card rounded shadow shadow-lg">

        <div class="card-body">

          <div class="form-group row">
            <div class="form-group col">
              <label for="sifra">Šifra predmeta</label>
              <input id="sifra" name="sifra" type="text" class="form-control"
                     [(ngModel)]="subject.sifra"
                     [ngClass]="{ 'is-invalid': submitted && subject.sifra == '' }"
                     disabled
              />
              <div *ngIf="submitted && subject.sifra == ''" class="invalid-feedback">
                <div *ngIf="subject.sifra == ''">Šifra predmeta je obavezno polje</div>
              </div>
            </div>
            <div class="form-group col">
              <label for="naziv">Naziv predmeta</label>
              <input id="naziv" name="naziv" type="text" class="form-control"
                     [(ngModel)]="subject.naziv"
                     [ngClass]="{ 'is-invalid': submitted && subject.naziv == '' }"
                     disabled
              />
              <div *ngIf="submitted && subject.naziv == ''" class="invalid-feedback">
                <div *ngIf="subject.naziv == ''">Naziv predmeta je obavezno polje</div>
              </div>
            </div>
            <div class="form-group col">
              <label for="espb">Broj ESPB bodova</label>
              <input id="espb" name="espb" type="number" class="form-control"
                     [(ngModel)]="subject.espb"
                     [ngClass]="{ 'is-invalid': submitted && subject.espb == null }"
                     disabled
              >
              <div *ngIf="submitted && subject.espb == null" class="invalid-feedback">
                <div *ngIf="subject.espb == null">Broj ESPB bodova je obavezno polje</div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="form-group row">
            <div class="form-group col">
              <label for="predavanja">Fond časova predavanja</label>
              <input id="predavanja" name="predavanja" type="number" class="form-control"
                     [(ngModel)]="subject.predavanja"
                     [ngClass]="{ 'is-invalid': submitted && subject.predavanja == null }"
              >
              <div *ngIf="submitted && subject.predavanja == null" class="invalid-feedback">
                <div *ngIf="subject.predavanja == null">Fond časova predavanja je obavezno polje</div>
              </div>
            </div>
            <div class="form-group col">
              <label for="vezbe">Fond časova vežbi</label>
              <input id="vezbe" name="vezbe" type="number" class="form-control"
                     [(ngModel)]="subject.vezbe"
                     [ngClass]="{ 'is-invalid': submitted && subject.vezbe == null }"
              >
              <div *ngIf="submitted && subject.vezbe == null" class="invalid-feedback">
                <div *ngIf="subject.vezbe == null">Fond časova vežbi je obavezno polje</div>
              </div>
            </div>
            <div class="form-group col">
              <label for="don">Fond časova DON</label>
              <input id="don" name="don" type="number" class="form-control"
                     [(ngModel)]="subject.don"
                     [ngClass]="{ 'is-invalid': submitted && subject.don == null }"
              >
              <div *ngIf="submitted && subject.don == null" class="invalid-feedback">
                <div *ngIf="subject.don == null">Fond časova za DON je obavezno polje</div>
              </div>
            </div>
          </div>

          <hr/>

          <div class="form-group row">
            <div class="form-group col">
              <label for="cilj">Cilj</label>
              <textarea id="cilj" name="cilj" cols="40" rows="4" class="form-control"
                        [(ngModel)]="subject.cilj"
              ></textarea>
            </div>
            <div class="form-group col">
              <label for="ishod">Ishod</label>
              <textarea id="ishod" name="ishod" cols="40" rows="4" class="form-control"
                        [(ngModel)]="subject.ishod"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="form-group col">
              <label for="info_lab">Informacije o labortorijskim vežbama</label>
              <textarea id="info_lab" name="info=lab" cols="40" rows="4" class="form-control"
                        [(ngModel)]="subject.info_lab"
              ></textarea>
            </div>
            <div class="form-group col">
              <label for="info_polaganje">Način polaganja</label>
              <textarea id="info_polaganje" name="info?polaganje" cols="40" rows="4" class="form-control"
                        [(ngModel)]="subject.info_polaganje"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="form-group col">
              <label for="propozicije">Propozicije</label>
              <textarea id="propozicije" name="propozicije" cols="40" rows="4" class="form-control"
                        [(ngModel)]="subject.propozicije"
              ></textarea>
            </div>
          </div>

          <div class="form-group row text-center">
            <div class="form-group col">
              <button class="btn btn-primary" (click)="editSubject()">Ažuriraj predmet</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>




