<div class="container-fluid">

  <div class="row mt-3" *ngIf="user.type == 1">
    <div class="col-sm-2"></div>
    <div class="col-sm-3" style="font-family: Arial">
      <label for="cin" class="custom-file-label">{{filesToUpload.length == 0 ? 'Izaberite fajlove' : 'Broj fajlova za upload: ' + filesToUpload.length}}</label>
      <input class="custom-file-input" id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" multiple />
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn btn-success" (click)="upload()">Upload</button>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-info" (click)="changeFileOrder()">Potvrdi izabrani redosled</button>
    </div>
  </div>

  <div class="row" *ngIf="user.type == 2">
    <div class="col-sm-10">
      <ul class="list-group">
        <li class="list-group-item text-center font-weight-bold">Informacije o projektima i domaćim zadacima</li>
        <li class="list-group-item">
          <div [innerHTML]="subject.info_projekat"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-10">
      <table class="table table-borderless text-center">
        <thead>
        <tr>
          <th class="align-middle">Naziv fajla</th>
          <th class="align-middle">Datum</th>
          <th class="align-middle">Autor</th>
          <th class="align-middle">Veličina fajla</th>
          <th class="align-middle">Tip fajla</th>
          <th class="align-middle" *ngIf="user.type == 1"></th>
        </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let f of subject.fajlovi_projekat" cdkDrag>
          <td class="align-middle"><a href="http://localhost:4000/uploads/subjects/{{subject.sifra}}/projects/{{f.filename}}">{{f.filename}}</a></td>
          <td class="align-middle">{{f.date}}</td>
          <td class="align-middle">{{f.authorName}}</td>
          <td class="align-middle">{{f.size}} KB</td>
          <td class="align-middle text-uppercase">{{f.type}}</td>

          <td class="align-middle" *ngIf="user.type == 1">
            <button class="btn btn-outline-danger float-right" (click)="delete(f)">&times;</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row mt-3" *ngIf="user.type == 1">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <div class="card rounded shadow shadow-lg">
        <h5 class="card-header">Dodajte informacije o projektima</h5>
        <div class="card-body">
          <app-text-editor></app-text-editor>
          <br/>
          <div class="text-center">
            <button class="btn btn-primary" (click)="saveProjectInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>



</div>

<!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--  <div class="example-box" *ngFor="let f of dbFiles" cdkDrag>{{f}}</div>-->
<!--</div>-->
