<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-8 d-flex flex-column justify-content-center mx-auto mt-5">

      <div class="card rounded shadow shadow-lg">
        <h5 class="card-header" *ngIf="user == null">Registrujte se na RTI Portal</h5>
        <h5 class="card-header" *ngIf=" user != null && user.type == 0">Registrujte studenta na RTI Portal</h5>

        <div class="card-body">

            <div class="form-row">
              <div class="form-group col">
                <label for="name">Ime</label>
                <input type="text" id="name" [(ngModel)]="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && firstname == '' }" />
                <div *ngIf="submitted && firstname == ''" class="invalid-feedback">
                  <div>Ime je obavezno polje</div>
                </div>
              </div>

              <div class="form-group col">
                <label for="lname">Prezime</label>
                <input type="text" id="lname" [(ngModel)]="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && lastname == '' }" />
                <div *ngIf="submitted && lastname == ''" class="invalid-feedback">
                  <div>Prezime je obavezno polje</div>
                </div>
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col">
                <label for="un">Korisničko ime (studentska e-mail adresa)</label>
                <input type="text" id="un" [(ngModel)]="username" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && username == '' }" pattern="([a-z][a-z](\d){6}(d|m|p)@student.etf.rs)" />
                <div *ngIf="submitted && username == ''" class="invalid-feedback">
                  <div>Korisničko ime je obavezno polje</div>
                </div>
                <div *ngIf="username != '' && !patternUsername && submitted" class="invalid-feedback">
                  <div>Vrednost je u pogrešnom formatu</div>
                </div>
              </div>

              <div class="form-group col">
                <label for="pwd">Lozinka</label>
                <input type="password" id="pwd" [(ngModel)]="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && password == '' }" />
                <div *ngIf="submitted && password == ''" class="invalid-feedback">
                  <div>Lozinka je obavezno polje</div>
                </div>
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col">
                <label for="index">Broj indeksa (u formatu GGGG/BBBB)</label>
                <input type="text" id="index" class="form-control"
                       [(ngModel)]="index"
                       [ngClass]="{ 'is-invalid': submitted && index == '' }" pattern="(\d\d\d\d\/\d\d\d\d)" />
                <div *ngIf="submitted && index == ''" class="invalid-feedback">
                  <div>Broj indeksa je obavezno polje</div>
                </div>
                <div *ngIf="index != '' && !patternIndex && submitted" class="invalid-feedback">
                  <div>Vrednost je u pogrešnom formatu</div>
                </div>
              </div>

              <div class="form-group col">
                <label for="type">Tip studija</label>
                <select id="type" [(ngModel)]="sType" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && sType == '' }">
                  <option value="" disabled>Izaberite tip studija</option>
                  <option *ngFor="let type of studiesType" value="{{type}}">{{type}}</option>
                </select>
                <div *ngIf="submitted && sType == ''" class="invalid-feedback">
                  <div>Tip studija je obavezno polje</div>
                </div>
              </div>

            </div>

            <div class="form-row">

              <div class="form-group col">
                <label for="status">Status studenta</label>
                <select id="status" [(ngModel)]="status" class="form-control custom-select" [ngClass]="{ 'is-invalid': submitted && status == '' }">
                  <option value="" disabled>Izaberite status studenta</option>
                  <option *ngFor="let status of studentStatus" [ngValue]="status">{{status}}</option>
                </select>
                <div *ngIf="submitted && status == ''" class="invalid-feedback">
                  <div>Status studenta je obavezno polje</div>
                </div>
              </div>

              <div class="col d-flex flex-column justify-content-end mx-auto">
                <div class="form-group">
                  <button class="btn btn-primary float-right" (click)="register()">Registracija</button>
                </div>
              </div>

            </div>
        </div>
      </div>

    </div>
  </div>

</div>


